.marketSingleSalePage__main {
    background-color: #ADEFD1FF;
    width: 100vw;
    height: 100vh;
}


.saleContainer {
    width: 70vw;
    margin-right: auto;
    margin-left: auto;
}

.saleImage {
    max-width: 60vw;
    height: auto;
    max-height: 50vh;
}

.salePrice {
    color: #00203FFF;
    font-size: 20px;
}

.saleMapContainer {
    margin-left: auto;
    margin-right: auto;
}


.saleDataContainer {
    margin-top: 5vh;
    margin-bottom: 5vh;
    padding: 20px;
    text-align: left;
    border: 2px solid #00203FFF;
    border-radius: 5px;
    color: #00203FFF;
}

.saleTitle {
    color: #00203FFF;
}