
.marketMenu__menu {
    display: flex;
    justify-content: space-evenly;
    width: 70vw;
    margin-left: auto;
    margin-right: auto;
}


.marketPage__main {
    width: 70vw;
    margin-right: auto;
    margin-left: auto;
    border: 5px solid black;
    height: 100vh;
}

.single_image {
    float: left;
    width: auto;
    height: 15vh;
    margin-left: 10vw;
}

.sales__container {

    margin-top: 10vh;
    max-height: 70vh;
    overflow-y: scroll;
}

.singleSale__main {
    margin-left: auto;
    margin-right: auto;
    border: 2px solid grey;
    width: 60vw;
    height: 18vh;
}

.singleSale__bottomContainer p {
    font-size: 14px;
    margin-left: 2px;
}

.singleSale__bottomContainer {
    display: flex;
    justify-content: center;
}