.market__back {
    background-color: #ADEFD1FF;
}


.marketMenu__menuItem a {
    color: #ADEFD1FF;
}

.marketMenu__menu {
    color: #ADEFD1FF;
    display: flex;
    justify-content: space-evenly;
    width: 70vw;
    margin-left: auto;
    margin-right: auto;
}


.marketPage__main {
    color: #ADEFD1FF;
    background-color: #00203FFF;
    width: 70vw;
    margin-right: auto;
    margin-left: auto;
    border: 5px solid #ADEFD1FF;
    height: 100vh;
}

.single_image {
    margin-top: 10px;
    float: left;
    width: auto;
    height: 15vh;
    margin-left: 10vw;
}

.sales__container {
    margin-top: 10vh;
    max-height: 70vh;
    overflow-y: scroll;
}


.sales__container::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color:#00203FFF;
}

.sales__container::-webkit-scrollbar
{
    width: 12px;
    background-color:#00203FFF;
    border: 5px solid #00203FFF;

}

.sales__container::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #ADEFD1FF;
}

.singleSale__main {
    color: #ADEFD1FF;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid #ADEFD1FF;
    width: 60vw;
    height: 18vh;
}

.singleSale__bottomContainer p {
    color: #ADEFD1FF;
    font-size: 14px;
    margin-left: 2px;
}

.singleSale__bottomContainer {
    display: flex;
    justify-content: center;
}


.market__filterContainer {
    margin-left: auto;
    width: 55vw;
    margin-right: auto;
    margin-bottom: 5vh;
    margin-top: 5vh;
    display: flex;
    justify-content: space-evenly;
}


.market__filterContainer select {
    margin-left: 1vw;
    background-color:#00203FFF;
    color: #ADEFD1FF;
    display: block;
    width: 10vw;
}

.market__filterContainer option {
    color: #ADEFD1FF;
}


@media (max-width: 999px) {
    .marketPage__main {
        width: 100vw;
    }
    .singleSale__main {
        width: 80vw;
        font-size: 16px;
        height: 25vh;
    }
    .singleSale__bottomContainer p {
        font-size: 12px;
        margin-left: 2px;
    }
}

