.header h1, .content p {
    font-family: 'Playfair Display', serif;
}

.content img {
    width: 20vw;
    height: 20vh;
}


.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 450px) {
    .content img {
        width: 40vw;
        height: 15vh;
    }
    .content p {
        font-size: 12px;
    }
}

body {
    background-color: #e8e8e8;
}