.mainPage__title {
    text-align: center;
    color: white;
    border-bottom: 5px solid white;
}

.mainPage__sectionTitle {
    text-align: center;
    color: white;
    border-bottom: 5px solid white;
}

.mainPage__useTheApp {
    text-align: center;
    color: white;
}

.mainPage__photo {
    width: 100vw;
    height: 60vh;
    border-bottom: 5px solid white;

}