.farmPage__menu {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-evenly;
    color: white;
    width: 70vw;
    border: 2px solid rgba(0, 0, 0, 0.27);
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.27);
}





@media (max-width: 600px) {
    .farmPage__menu {
        width: 100vw;
    }
}